LinguaggiPerIlWeb_Progetto/XML/caseEditrici.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<xsd:element name="caseEditrici">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element ref="casaEditrice" maxOccurs="unbounded"/>
    </xsd:sequence>  
  </xsd:complexType>
</xsd:element>

<xsd:element name="casaEditrice">
  <xsd:complexType>
    <xsd:sequence>
      <xsd:element ref="idCasa"/>
      <xsd:element ref="nome"/>    
    </xsd:sequence>  
  </xsd:complexType>
</xsd:element>

<xsd:element name="idCasa" type="xsd:integer"/>
<xsd:element name="nome" type="xsd:string"/>
</xsd:schema>